html {
    background-color: #e6e9e9;
    background-image: url("https://farm6.staticflickr.com/5249/5349453359_d327684f31_b.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
}

body {
	width: 800px;	
}

table {
	border-collapse: collapse;
	border: solid 1px;
}

td, th {
	border: solid 1px;
	padding: 5px;
}

.qrCodeTb {
  width: 50px;
  height: 50px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
li {
    float: left;
    border: 1px solid #000;
    border-bottom-width: 0;
    margin: 3px 3px 0px 3px;
    padding: 5px 5px 0px 5px;
    background-color: #CCC;
    color: #696969;
}
#mainView {
    border: 1px solid black;
	clear: both;
	padding: 0 1em;
}
.active {
    background-color: #FFF;
    color: #000;
}