<!DOCTYPE html>
<html>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="TabsCtrl.js"></script>
    <script src="instrumentsController.js"></script>
    <script src="ingredientsCtrl.js"></script>
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Welcome to MOBILE PANCAKES</title>
        <link rel="stylesheet" href="main.css">
    </head>
    <body>
        
        <h1>Welcome to MOBILE PANCAKES</h1>
        
        <div ng-app="webApp">
            
            
            <div id="tabs" ng-controller="TabsCtrl">
                <ul>
                    <li ng-repeat="tab in tabs" 
                        ng-class="{active:isActiveTab(tab.url)}" 
                        ng-click="onClickTab(tab)">{{tab.title}}</li>
                </ul>
                <div id="mainView">
                    <div ng-include="currentTab"></div>
                </div>
            </div>
            <script type="text/ng-template" id="one.tpl.html">
                <div id="viewOne">
                    <div ng-controller="instrumentsController">
                        <h2>Add a new Instrument</h2>
                        Instrument Name:
                        <input type="text" ng-model="newInstrumentName"
                               data-ng-keypress="onInstrumentNameKeyPress($event)">
                        <input type="button" ng-click="registerInstrument()" value="Register" />
                        <h2>Known Instruments</h2>
                        <table>
                          <thead>
                            <tr>
                                <th>Name</th>
                                <th>QR Code</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="x in instruments">
                              <td><span ng-bind="x.name"></span></td> 
                              <td><a href="#" ng-click="showQRCode(x.qrCode)"><img ng-src="{{x.qrCode}}" class="qrCodeTb"></img></a></td>
                            </tr>
                          </tbody>
                        </table>
                    </div>
                </div>
            </script>

            <script type="text/ng-template" id="two.tpl.html">
                <div id="viewTwo">
                    <h1>View Two</h1>
                    <p>Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu.</p>
                </div>
            </script>

            <script type="text/ng-template" id="three.tpl.html">
                <div id="viewThree">
                    <div ng-controller="ingredientsCtrl">
                        <h1>Ingredients</h1>
                        <table>
                          <thead>
                            <tr>
                                <th>Name</th>
                                <th>QR Code</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="x in ingredients">
                              <td><span ng-bind="x.name"></span></td> 
                              <td><a href="#" ng-click="showQRCode(x.qrCode)"><img ng-src="{{x.qrCode}}" class="qrCodeTb"></img></a></td>
                            </tr>
                          </tbody>
                        </table>
                    </div>
                </div>
            </script>
        </div>
    </body>
</html>