<!DOCTYPE html>
<html>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Welcome to MOBILE PANCAKES</title>
        <link rel="stylesheet" href="main.css">
    </head>
    <body>
        
        <h1>Welcome to MOBILE PANCAKES</h1>
        <h2>Registered Instruments:</h2>
        <div ng-app="webApp" ng-controller="instrumentsController">
            <ul>
                <li ng-repeat="x in instruments">
                    <div ng-bind="x.name"></div> 
                    <img ng-src="{{ x.qrcode }}" alt=''></img>
                </li>
            </ul>
            <p>
                Instrument Name:
                <input type="text" ng-model="instrumentName">
                <input type="button" ng-click="registerInstrument()" value="Register" />
            </p>
        </div>
    </body>

    <script>
        var app = angular.module('webApp', []).controller('instrumentsController', function($scope) {
            $scope.instrumentName = "Kitchen Balance";
            $scope.qrCode = 'https://chart.googleapis.com/chart?cht=qr&chl=kitchen%20balance&chs=180x180&choe=UTF-8&chld=L|2';
            $scope.instruments = [{name:$scope.instrumentName,qrcode:$scope.qrCode}];
            $scope.registerInstrument = function() {
                    $scope.instruments.push({name:$scope.instrumentName,qrcode:'https://chart.googleapis.com/chart?cht=qr&chl=kitchen%20balance&chs=180x180&choe=UTF-8&chld=L|2'});    
            }
        });
    </script>
</html>