<!DOCTYPE html>
<html>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="instrumentsController.js"></script>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Welcome to MOBILE PANCAKES</title>
        <link rel="stylesheet" href="main.css">
    </head>
    <body>
        
        <h1>Welcome to MOBILE PANCAKES</h1>
        
        <div ng-app="webApp" ng-controller="instrumentsController">    
            <h2>Add a new Instrument</h2>
            Instrument Name:
            <input type="text" ng-model="newInstrumentName"
                   data-ng-keypress="onInstrumentNameKeyPress($event)">
            <input type="button" ng-click="registerInstrument()" value="Register" />
            <h2>Known Instruments</h2>
            <table>
              <thead>
                <tr>
                    <th>Name</th>
                    <th>QR Code</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="x in instruments">
                  <td><span ng-bind="x.name"></span></td> 
                  <td><a href="#" ng-click="showQRCode({{x.qrCode}})"><img ng-src="{{x.qrCode}}" class="qrCodeTb"></img></a></td>
                </tr>
              </tbody>
            </table>
            <h2>Ingredients</h2>  
            <input type="button" ng-click="refreshIngredients()" value="Refresh" />
            <ul>
                <li ng-repeat="x in ingredients">
                    {{ x.amount + " " + x.unit + " " + x.name }}
                </li>
            </ul>
        </div>
    </body>
</html>