html {
    background-color: #e6e9e9;
    /*background-image: url("https://farm6.staticflickr.com/5249/5349453359_d327684f31_b.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;*/
}

table {
	border-collapse: collapse;
	border: solid 1px;
}

td, th {
	border: solid 1px;
	padding: 5px;
}

.qrCodeTb {
  width: 50px;
  height: 50px;
}