<!DOCTYPE html>
<html ng-app="mobilePancake">

<head>
  <meta charset="UTF-8">
  <title>Mobile Pancake</title>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

  <script type="text/javascript">
    // Create the App
    angular.module('mobilePancake', []);

  </script>

  <script src="controller/MainController.js"></script>

</head>

<body>
  
  <div ng-controller="MainController">
    
    <select name="recipeList" id="recipeList" ng-model="selectedRecipe">
      <option ng-repeat="option in recipesModel.availableOptions" value="{{option.name}}">{{option.name}}</option>
    </select>
    
    <select name="ingredientsList" id="ingredientsList" ng-model="ingredientsModel.ingredient">
      <option ng-repeat="ingredient in ingredientsModel.ingredients" value="{{ingredient.name}}">{{ingredient.name}}</option>
    </select>
    
    <div ng-bind="instructions"></div>
    
  </div>
  
</body>

</html>
